@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Anuphan:wght@300&family=Montserrat:ital,wght@1,100&display=swap');
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
h1 {
  text-align: center;
  top: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  background-color: #fff;
  color: #ff007f;
  padding: 20px 50px; 
  font-size: 24px;
  border: 2px solid red;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  
}
.text {
  font-family: 'Anuphan', sans-serif;
  color: #ec6003;
  font-size: 60px;
  text-align: center;
  
  
}
#change-Btn {
  text-align: center;
  cursor: pointer;

}

.btn:hover {
  background-color: #ec6003;
  color: #e93904;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}